# general
#batch_size: 128
batch_size: 128
input_size: 112
embd_shape: 512
sub_name: 'arc_res50'
backbone_type: 'ResNet50' # 'ResNet50', 'MobileNetV2'
head_type: ArcHead # 'ArcHead', 'NormHead'
is_ccrop: False # central-cropping or not

# train
#train_dataset: '../input/lfw-tfrec/ms1m_bin.tfrecord'
train_dataset: '../input/natural-tfrec/natural.tfrecord'
#train_dataset: '/content/drive/MyDrive/face_rec/data/ms1m_bin.tfrecord'
#train_dataset: '/content/drive/MyDrive/face_rec/natural.tfrecord'
binary_img: True
#num_classes: 85742
#num_classes: 5750
num_classes: 54
#num_samples: 5822653
#num_samples: 25500
num_samples: 264
epochs: 16
base_lr: 0.001
w_decay: !!float 5e-4
#save_steps: 1000
save_steps: 8

# test
#test_dataset: '/your/path/to/test_dataset'
test_dataset: '/content/drive/MyDrive/face_rec/natural.tfrecord'
